LibraryManagementSystem/Final Project/Services/Microsoft.Library.Core.TestWCFClient/Service References/LibraryServiceClient/LibraryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Library.Core.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Library.Core.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="tbl_Books">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="BookId" type="xs:int" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBNNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tbl_Transaction" nillable="true" type="tns:ArrayOftbl_Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_Books" nillable="true" type="tns:tbl_Books" />
  <xs:complexType name="ArrayOftbl_Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_Transaction" nillable="true" type="tns:tbl_Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_Transaction" nillable="true" type="tns:ArrayOftbl_Transaction" />
  <xs:complexType name="tbl_Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FineAmt" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReturnDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_Books" nillable="true" type="tns:tbl_Books" />
      <xs:element minOccurs="0" name="tbl_Users" nillable="true" type="tns:tbl_Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_Transaction" nillable="true" type="tns:tbl_Transaction" />
  <xs:complexType name="tbl_Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_Role" nillable="true" type="tns:tbl_Role" />
      <xs:element minOccurs="0" name="tbl_Transaction" nillable="true" type="tns:ArrayOftbl_Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_Users" nillable="true" type="tns:tbl_Users" />
  <xs:complexType name="tbl_Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_Users" nillable="true" type="tns:ArrayOftbl_Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_Role" nillable="true" type="tns:tbl_Role" />
  <xs:complexType name="ArrayOftbl_Users">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_Users" nillable="true" type="tns:tbl_Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_Users" nillable="true" type="tns:ArrayOftbl_Users" />
</xs:schema>