LibraryManagementSystem/Final Project/Services/WebApplication1/Service References/LibraryServiceClient/LibraryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4670/Service/LibraryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" />
  <xs:element name="AddBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="books" nillable="true" type="q1:Books" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBookResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="addcategory" nillable="true" type="q2:Categories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="users" nillable="true" type="q3:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="books" nillable="true" type="q4:Books" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBookResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="users" nillable="true" type="q5:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMemberDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMemberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBookResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q6:ArrayOfCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="GetAllTransactionResult" nillable="true" type="q7:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="GetBookDetailsResult" nillable="true" type="q8:Books" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="GetMemberDetailsResult" nillable="true" type="q9:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReturnDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReturnDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="GetReturnDetailsResult" nillable="true" type="q10:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelfTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelfTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="GetSelfTransactionResult" nillable="true" type="q11:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="columnName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchItems" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="SearchBooksResult" nillable="true" type="q12:ArrayOfBooks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMemberAvlblty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMemberAvlbltyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckMemberAvlbltyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMemberAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMemberAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckMemberAvailabilityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBookAvailibility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBookAvailibilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckBookAvailibilityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBookAvlblty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBookAvlbltyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckBookAvlbltyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBookAvlbltyIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBookAvlbltyIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckBookAvlbltyIssueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="issue" nillable="true" type="q13:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IssueBookResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="returnBook" nillable="true" type="q14:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnBookResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="LoginResult" nillable="true" type="q15:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Microsoft.Library.WCFService.Service" minOccurs="0" name="GetAuthenticationDetailsResult" nillable="true" type="q16:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>